section.cta {
    background: rgba(255,255,255, 0.9);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    min-height: 200px;
    place-items: center;
    
    .wrapper {
        display: grid;
        place-items: center;
        min-height: 100%;
        position: relative;
        img.cta {
            left: 75%;
            max-width: 100%;
            height: 100% !important;
            position: absolute;
            top: 50%;
            transform: translate(-25%, -50%);
            width: 100%;
            z-index: -1;
        }
    }

    h4 {
        font-family: 'Dancing Script', cursive;
    }

}

section.cta-alt {
    background: rgba(226, 115, 150, 0.5);
    color: #fff;
    padding: 0;
    position: relative;
    opacity: 1;
    z-index: 3;
    .row {
        height: 100%;
        width: 100%;
        h4 {
            font-family: 'Dancing Script', cursive;
            position: relative;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
        }
        p {
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
        }
        .cta-cup {
            display: grid;
            place-items: center;
            position: absolute;
            height: 350px;
            width: 350px;
            top: 25%;
            right: 0%;
            perspective: 250px;
            transform-style: preserve-3d;
            transform: translate(0%, -50%);
            transition: all 250ms linear;
            -webkit-transition: all 250ms linear;
            z-index: 4;
            img.depth {
                cursor: pointer;
                display: none;
                transform: rotateX(7deg) rotateY(10deg) rotateZ(5deg) scale(0.97);
                transition: all 250ms linear;
            -webkit-transition: all 250ms linear;
            position: relative;
            z-index: 5;
                &:hover {
                    transform: rotate(0) scale(1);
                }
                @media screen and (min-width: 1200px) {
                    display:  inline;
                }
            }
        }
    }
}


