.main-footer {
    background: #0c1821;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    position: relative;
    z-index: 1;
    a {
        color: #b3dee2;
        text-decoration: none;
    }

    ul {
        padding: 0;
        li {
            list-style: none;
        }
    }


    .address-list {
        background: #0c1821;
        list-style: none;
        padding: 0;
        li {
            background: #0c1821
        }
    }

    .bottom-bar {
        background: #000;
        height: 70px;
        padding: 1rem;
    }
    h4 {
        font-family: 'Dancing Script', cursive;
    }
}