.logo-bar {
    margin-bottom: 0;
    position: relative;
    &::after {
        background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
        bottom: 0;
        content: "";
        display: none;
        height: 5px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 100;
    }
    box-shadow: 0 -2px 20px -10px rgba(0, 0, 0, 0.50);
    .nav-link {
        color: #000;
        transition: all 250ms ease;
        -webkit-transition: all 250ms ease;
        &:hover {
            color: rgba(234, 154, 178);
        }
    }
}