.mobile-nav {
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 10000;
    .hamburger-container {
        background: transparent;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
        transition: all 250ms linear;
            -webkit-transition: all 250ms linear;
            -moz-transition: all 250ms linear;
        .hamburger-icon {
            background: #000;
            display: block;
            height: 5px;
            margin: .25rem auto;
            padding: .25rem 0 rem;
            width: 30px;
            transition: all 250ms linear;
            -webkit-transition: all 250ms linear;
            -moz-transition: all 250ms linear;
        }
        &.active {
            .hamburger-icon {
                &:nth-child(1) {
                    transform: translate3D(0, 175%, 0) rotateZ(765deg);
                    

                }
                &:nth-child(2) {
                    opacity: 0;
                    
                }
                &:nth-child(3) {
                    transform: translate3D(0, -175%, 0) rotateZ(-765deg); 
                    
                }
            }
        }
    }
}

.mobile-sidebar {
    height: 0;
    overflow: hidden;
    transition: all 250ms linear;
    a {
        color: #000;
        transition: all 250ms ease;
        -webkit-transition: all 250ms ease;
        &:hover {
            color: rgba(234, 154, 178);
        }
}
}