header.services-header {
    display: grid;
    min-height: 66vh;
    place-items: center;
    h1 {
        color: #fff;
        font-family: 'Dancing Script', cursive;
        font-size: 4rem;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
        
    }
}

article.article {
    .card-number {
        color: #eee;
        display: grid;
        place-items: center;
        gap: 0;
        margin: 0 auto;
        padding: 0;
        position: relative;
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: 400;
        height: 60px;
        width: 60px;
        span {
            margin: 0;
            padding: 0;
            display: inline-block;
            
            border-radius: 50%;
        }
    }
}


section.fancy-cards {
  .container {
    .row {
      .col {
        min-height: 450px;
        .card {
          transition: all 250ms ease;
          -webkit-transition: all 250ms ease;
          -moz-transition: all 250ms ease;
          .inner-card {
            background: rgba(0,0,0,0.15);
            overflow: hidden;
            transition: all 250ms ease;
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
            @media screen and (min-width: 320px) {
              background: rgba(0,0,0,0.75);
            }
            .card-header {
              background: unset;
              border: unset;
              box-shadow: unset;
            }
            .card-body {
              transition: all 250ms ease;
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
            p {
              transition: all 350ms ease 100ms;
              -webkit-transition: all 350ms ease 100ms;
              -moz-transition: all 350ms ease 100ms;
              opacity: 0;
              @media screen and (min-width: 320px) {
                opacity: 1;
              }
            }
              .card-title {
                a {
                  color: rgba(255,255,255,1);
                  transition: all 250ms ease;
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
                }
              }
            }
            
            .card-footer {
              background: unset;
              border: unset;
              box-shadow: unset;

              .card-btn {
                background: transparent;
                box-shadow: initial;
                outline: 1px solid #fff;
                &:hover {
                  background: #fff;
                  color: #000;
                  outline: 1px solid #000;
                  text-shadow: none !important;
                }
              }
            }
          }
          &:hover {
            .inner-card {
              background: rgba(0,0,0,0.25);
              .card-body {
                a {
                  color: #fff;
                  text-shadow: 2px 2px 1px #000;
                }
                p {
                  opacity: 1;
                  a {
                    color: #fff !important;
                    text-shadow: 2px 2px 1px #000;
                  }
                }
              }
              .card-footer {
                opacity: 1;
                .card-btn {
                  outline-color: #fff;
                  text-shadow: 2px 2px 1px #000;
                }
              }
            }
          }
          &.fancy {
            height: 100%;
            min-height: 450px !important;
            .inner-card {
              height: 100%;
              min-height: 450px;
            }
          }
        }

      }
    }
  }
}
