<section class="contact-info container-fluid p-2">
    <div class="row p-0">
        <div class="col-12 p-0">
            <h3 class="p-0 m-0">Contact</h4>
            <address class="p-0 mx-auto">
                <ul class="list-group">
                        <li class=" list-group-item"><a href="tel:+18176581789" class="text-dark "><i class="fa fa-phone me-3 text-yellow"></i>(817) 658-1789</a></li>
                        <li class=" list-group-item"><a href="mailto:thedifystore@gmail.com" class="text-dark"><i class="fa fa-envelope me-3 text-yellow"></i>thedifystore@gmail.com</a></li>
                        <li class="list-group-item"><a href="https://www.google.com/maps/place/Boerne,+TX+78006/@29.7887744,-98.7800578,13z/data=!3m1!4b1!4m5!3m4!1s0x865c76a1cbde3e75:0x1c91b7f64239262b!8m2!3d29.7946641!4d-98.7319703" class="text-dark"><i class="fa fa-map-marker me-3 text-yellow"></i>Boerne, Texas</a></li>
                </ul>

            </address>
        
        </div>
    </div>
</section>