<!-- CTA -->

{{ if .Params.ctaAlt}}

<!-- Alternative CTA -->

<section data-background="{{- .Site.BaseURL -}}images/cta/wood-grain-1920x200.png" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="100" class="cta cta-alt container-fluid lazyBG">
  <div class="row py-3">
    <div class="col-12 col-sm-12 col-lg-9 offset-lg-1 text-center">
      <h4 class="fs-1">Limited Time Offer: Buy One Get One Free</h4>
      <p class="fs-3">Available for a limited time, grab one while you can!</p>
      <a href="/contact-us" class="cta-btn">Contact Us</a>
      <figure class="cta-cup">
        <img id="ctaItem" src="{{- .Site.BaseURL -}}images/backgrounds/cup-1-400.png" alt="cup" class="d-none d-lg-block img-fluid depth" loading="lazy" decoding="async" height="400" width="400">

      </figure>
    </div>

  </div>
</section>



<!-- End Alternative CTA-->

{{ else }}

<section data-background="{{- .Site.BaseURL -}}images/testimonials/testimonial-1920x1080.jpeg" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="150"  class="cta container-fluid lazyBG">
    <div class="container-fluid text-center">
      <div class="row  my-3 py-5">
        <div class="col-12 col-md-9 text-center mx-auto">
            <h4 class="fs-1 w-1">Do you want to make your own gifts?</h4>
              <p>Dify is an online service that makes custom gifts for you so that you don't have to. It's easy, fun and totally customizable. You can upload pictures of yourself or your loved ones and we will create a portrait using fun, colorful designs. If you're not quite ready for something this personal, our pre-made designs are the perfect way to get started! We also offer DIY holiday cards and invitations as well as DIY party supplies like cupcake wrappers, table runners and more!</p>
            <p>With Dify, creating custom gifts has never been easier. Browse through our wide selection of unique gift ideas or upload your own photos to create</p>
            <a class="btn cta-btn" href="/contact-us" role="button">Contact Us</a>
            </div>
      </div>
    </div>
    
  </section>

  <!-- End CTA -->

  {{ end }}
