<!-- Featured Products Section-->

<section data-background="{{.Site.BaseURL}}images/backgrounds/scissor-background-360x640.jpg" class="container-fluid featured-products d-block">
      <div class="row">
          <div class="col-12 py-5 text-center mb-4" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="250">
              <h3>Featured Products & Services</h3>
          </div>
      </div>
      <div class="row">
        {{- range .Site.Data.featuredProducts -}}
        <div class="col-12 col-md-6 col-lg-2 mx-auto my-4 featured-products__featured-product" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="250">
          <figure class="d-block align-items-center justify-content-center">
            <a href="/contact-us" class="perspective rotate">
              <img src="{{- .src | absURL -}}" class="rounded-circle shadow featured-products__featured-product__thumbnail" alt="{{- .title -}}" loading="lazy" decoding="async">
            </a>
            <img src="{{- .blob | absURL -}}" class="blob" alt="blob" loading="lazy" decoding="async" height="400" width="400">            
          </figure>
          <h3 class=" my-2 p-2"><a href="/contact-us" class="thumb-title text-decoration-none text-white" title="{{- .title -}}">{{- .title -}}</a></h3>
        </div>

        {{- end -}}
      </div>
      <div class="row mt-5">
        <div class="col p-3 mx-auto" data-aos="fade-in" data-aos-duration="1250" data-aos-delay="350">
          <a href="/contact-us" class="cta-btn">CONTACT US</a>
        </div>
      </div>
    </section>

  <!-- End Featured Products -->


  <!-- 2. Croc Tumbler for the tumblers, laser engraved cutting board for the laser, embroidery picture (coming soon), and swag picture (coming soon) -->
