<!-- Logo Bar -->
<div class="mobile-nav d-md-none">
  <button class="hamburger-container">
    <span class="hamburger-icon"></span>
    <span class="hamburger-icon"></span>
    <span class="hamburger-icon"></span>
  </button>
</div>
<div class="container-fluid py-3 logo-bar">
    <div class="row d-flex justify-content-center align-items-center mb-3">
      <div class="col-12 text-center">
        <a href="{{ .Site.BaseURL | absURL}}" title="{{ .Site.Title}}">
          <img
            src="{{- .Site.BaseURL -}}images/logo.png"
            alt="{{.Site.Title}}"
            height="125"
            width="125"
            loading="lazy" decoding="async"
          />
        </a>
      </div>
    </div>
    <div class="row d-flex-justify-content-center align-items-center mb-3 d-none d-md-block">
        <div class="container">
            <nav class="text-center d-flex flex-wrap align-items-center justify-content-center">
              {{range .Site.Menus.main}}
              <a href="{{.URL | absURL}}" class="py-1 px-2 mx-3 text-decoration-none btn nav-link">{{- .Name -}}</a>
            {{ end }}
            </nav>
        </div>
    </div>
  </div>

  <!-- End Logo Bar-->


  <!-- side drawer -->
  <aside class="container-fluid d-md-none mobile-sidebar">

    <nav class="text-center d-flex flex-wrap align-items-center justify-content-center">
      <ul class="list-group-flush">

        {{range .Site.Menus.main}}
        <li class="list-group-item">
          <a href="{{.URL | absURL}}" class="py-1 px-2 mx-3 text-decoration-none btn nav-link">{{- .Name -}}</a>
        </li>
    {{ end }}

      </ul>
    </nav>

  </aside>