.logo-bar {
  margin-bottom: 0;
  position: relative;
  box-shadow: 0 -2px 20px -10px rgba(0, 0, 0, 0.5);
}
.logo-bar::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  bottom: 0;
  content: "";
  display: none;
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.logo-bar .nav-link {
  color: #000;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
.logo-bar .nav-link:hover {
  color: #ea9ab2;
}

/************************
**Custom Swiper Styles*** 
*************************/
.hero-slide {
  background: none;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  margin: 0 auto;
  width: 100%;
}

.hero-container {
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-container h1 {
  font-size: 4rem;
  font-weight: 700;
}
.hero-container h2 {
  font-size: 3rem;
  font-weight: 600;
}

.swiper-slider {
  margin: 0 auto;
  width: 100% !important;
}

@media screen and (min-width: 1200px) {
  .hero-container h1 {
    font-size: 6rem;
  }
  .hero-container h2 {
    font-size: 5rem;
  }
}
.featured-products {
  background: rgba(234, 154, 178, 0.5);
  color: #fff;
  min-height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.featured-products h3 {
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  text-decoration: wavy;
  position: relative;
  z-index: 1000;
}
.featured-products h3 a {
  color: #fff !important;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  position: relative;
  z-index: 1000;
}
.featured-products h3 a:hover {
  text-shadow: 2px 2px 5px #eaf2d7;
}
.featured-products p {
  margin: auto;
  max-width: 100ch;
  text-align: left;
}
.featured-products img {
  max-width: 100%;
}
.featured-products img.featured-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
}

.featured-products__featured-product {
  position: relative;
}
.featured-products__featured-product a.thumb-title {
  position: relative;
  z-index: 99999;
}
.featured-products__featured-product .blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 250ms linear;
  transform: translate3D(-50%, -50%, 0) scale(1.2);
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.66;
  z-index: -50;
}
.featured-products__featured-product h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  position: relative;
  z-index: 3;
}
.featured-products__featured-product a.perspective {
  transition: all 250ms ease;
  transform-style: preserve-3d;
  perspective: 750px;
}
.featured-products__featured-product .featured-products__featured-product__thumbnail {
  position: relative;
  transform: rotateZ(15deg);
  transition: all 300ms ease;
  z-index: 2;
}
.featured-products__featured-product .featured-products__featured-product__thumbnail:hover {
  transform: scale(1.05);
}

.rotate:hover + .blob {
  transform: translate3D(-50%, -50%, 0) rotateZ(20deg) scale(1.5);
  opacity: 1;
}

a.cta-btn {
  box-sizing: border-box;
  border: 0px;
  font-size: 18px;
  font-style: inherit;
  font-weight: 500;
  margin: 0px;
  outline: 0px;
  padding: 20px 40px;
  position: relative;
  vertical-align: baseline;
  background-color: #07436b;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 6px 12px 0px;
  width: auto;
  display: inline-block;
  line-height: 1;
  border-radius: 30px;
  fill: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  z-index: 10;
}
a.cta-btn:hover {
  outline: 0px;
  background-color: #07434b;
  color: white;
}
a.cta-btn:focus {
  outline: 1px;
}

.stars {
  color: #e27396 !important;
}

section.testimonials {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 !important;
  padding-top: 1rem;
}
section.testimonials h3 {
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  text-decoration: wavy;
}
section.testimonials .testimonials__name {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  box-sizing: inherit;
  color: #363636;
  line-height: 1.125;
  margin-bottom: 0.8em;
}
section.testimonials .wrapper {
  height: 100% !important;
  margin: 0;
  padding: 0;
}
section.testimonials .wrapper .splatter {
  display: none;
  left: 50%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

section.cta {
  background: rgba(255, 255, 255, 0.9);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}
section.cta .wrapper {
  display: grid;
  place-items: center;
  min-height: 100%;
  position: relative;
}
section.cta .wrapper img.cta {
  left: 50%;
  max-width: 100%;
  height: 100% !important;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
section.cta h4 {
  font-family: "Dancing Script", cursive;
}

.main-footer {
  background: #0c1821;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.main-footer a {
  color: #b3dee2;
  text-decoration: none;
}
.main-footer ul {
  padding: 0;
}
.main-footer ul li {
  list-style: none;
}
.main-footer .address-list {
  background: #0c1821;
  list-style: none;
  padding: 0;
}
.main-footer .address-list li {
  background: #0c1821;
}
.main-footer .bottom-bar {
  background: #000;
  height: 70px;
  padding: 1rem;
}
.main-footer h4 {
  font-family: "Dancing Script", cursive;
}

section.contact-us .nav-link {
  color: #000;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
section.contact-us .nav-link:hover {
  color: #ea9ab2;
}

.tag {
  background: black;
  color: #fff;
  font-size: 0.66rem;
  padding: 0.25rem 0.5rem;
}

html,
body {
  overflow-x: hidden;
}

/*# sourceMappingURL=custom.css.map */
