<!DOCTYPE html>
<html lang="en" class="h-100">
  {{ partial "head.html" .}}
  <body class="h-100">

    {{ partial "navigation.html" .}}

    <!-- Header Carousel-->
    <header class="swiper h-75 main-header">
      <div class="container-fluid swiper-wrapper">

        <!-- Slide 1-->
        <div
        data-background="{{- .Site.BaseURL -}}images/slider/hero-slider-1-1920x1080.jpeg"
        class="swiper-slide swiper-lazy hero-slide w-100 lazyBG"
      >
        <div class="swiper-lazy-preloader">
        </div>
        <div class="container-fluid h-100 hero-container">
            <div class="row h-100">
                <div class="h-100 d-flex align-items-center justify-content-center col-12 col-md-9 col-lg-6 mx-auto p-5">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <h1 data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">WE CRAFT</h1>
                        <h2 data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">EXPERIENCES</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center py-5">
                                <a href="#" class="btn btn-primary py-3 px-5 text-uppercase cta-btn" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="250">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!-- Slide 2-->

      <div
        data-background="{{- .Site.BaseURL -}}images/slider/hero-slider-2-1920x1080.jpeg"
        class="swiper-slide swiper-lazy hero-slide w-100 lazyBG"
      >
        <div class="swiper-lazy-preloader">
        </div>
        <div class="container-fluid h-100 hero-container">
            <div class="row h-100">
                <div class="h-100 d-flex align-items-center justify-content-center col-12 col-md-9 col-lg-6 mx-auto p-5">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <h1 data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">WE MAKE</h1>
                                <h2 data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">MEMORIES</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center py-5">
                                <a href="#" class="btn btn-primary py-3 px-5 text-uppercase cta-btn" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="250">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!-- Slide 3-->
      <div
        data-background="{{- .Site.BaseURL -}}images/slider/hero-slider-3-1920x1080.jpeg"
        class="swiper-slide swiper-lazy hero-slide w-100 lazyBG">
        <div class="swiper-lazy-preloader">
        </div>
        <div class="container-fluid h-100 hero-container">
            <div class="row h-100">
                <div class="h-100 d-flex align-items-center justify-content-center col-12 col-md-9 col-lg-6 mx-auto p-5 offset-lg-4 ">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <h1 data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">WE PAINT</h1>
                                <h2 data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">TOGETHER</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center py-5">
                                <a href="#" class="btn btn-primary py-3 px-5 text-uppercase cta-btn" data-aos="fade-up" data-aos-duration="1000">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
       
        </div>
      </div>

      <!-- Swiper Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Swiper Navigation Buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </header>

    {{ partial "featured-products.html" .}}


      <!-- Testimonials -->

      {{ partial "testimonials.html" .}}

      {{ partial "cta.html" .}}
      

      {{ partial "footer.html" .}}

      {{ partial "scripts.html" .}}
  </body>
</html>
