<!DOCTYPE html>
<html lang="en" class="h-100">
  {{ partial "head.html" .}}
  <body class="h-100">
    {{  partial "backToTop.html" .}}
    {{ partial "navigation.html" .}}

    <header class="container-fluid swiper h-75">
        <div class="swiper-wrapper">
            {{ range .Site.Data.slides }}
            <!-- Slides -->
            <div class="swiper-slide h-100">
                <div data-background="{{ .src | absURL}}" class="swiper-lazy h-100">
                  <div class="swiper-lazy-preloader"></div>
                <div class="container-fluid h-100">
                    <div class="row h-100 grid justify-content-center align-items-center">
                      <div class="col-12 col-md-6 h-100 d-flex align-items-center justify-content-center flex-column hero-container">
                        <h1 data-aos="fade-up" data-aos-duration="1250" data-aos-delay="100">{{.h1}}</h1>
                        <h2 data-aos="fade-up" data-aos-duration="1250" data-aos-delay="250">{{.h2}}</h2>
                        <a href="{{ .Site.BaseURL}}contact-us" class="cta-btn btn">Contact Us</a>
                      </div>
                      <div class="col-12 col-md-6">
                        <figure>
                          <img src="{{.img | absURL}}" class="fluid-img rounded-circle" data-aos="fade-in" data-aos-duration="1250" data-aos-delay="100" loading="lazy" alt="">
                        </figure>
                      </div>
                    </div>
                </div>
                </div>
              </div>
            {{ end }}
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev text-dark"></div>
          <div class="swiper-button-next text-dark"></div>
        
          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
    </header>


    {{ partial "featured-products.html" . }}


      <!-- Testimonials -->

      {{ partial "testimonials.html" . }}

      {{ partial "cta.html" .}}
      

      {{ partial "footer.html" .}}

      {{ partial "scripts.html" .}}
  </body>
</html>
