<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body id="top">
        {{- partial "navigation.html" . -}}
        {{- partial "header.html" . -}}
        <main id="content d-flex container mx-auto">
        {{- block "main" . }}
        {{- end }}
        </main>
        {{- partial "featured-products.html" . -}}
        {{- partial "testimonials.html" . -}}
        {{- partial "cta.html" . -}}
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
        {{- partial "backToTop.html" . -}}
    </body>
</html>
