{{ define "main" }}
<header class="single-header container-fluid my-2">
    <div class="row">
        <div class="col mx-auto text-center">
            <h1 class="">{{ .Title }}</h1>
        </div>
    </div>
</header>
<section class="container contact-us d-none">
    <div class="row justify-content-center">
        <!-- Contact Info -->
        <div class="col-12 col-md-6">

            <h3 class="fs-26 f-700 mb-5">We are Here for You</h3>
            <p class="mb-20">Our business hours are:   Monday - Friday: 7am - 6pm | Sat: 7am - noon | Sun: closed</p>
            <div class="hr-1 bg-black opacity-1 mb-20"></div>
            <h4 class="fs-20 f-700 mb-15">Contact Information</h4>
            <address class="p-0">
                <ul class="list-group p-0 m-0 border-0">
                        <li class="p-1 ps-0 list-group-item border-0"><a href="tel:+18176581789" class="nav-link"><i class="fa fa-phone me-3"></i>(817) 658-1789</a></li>
                        <li class="p-1 ps-0 list-group-item border-0"><a href="mailto:thedifystore@gmail.com" class="nav-link"><i class="fa fa-envelope me-3"></i>thedifystore@gmail.com</a></li>
                        <li class="p-1 ps-0 list-group border-0"><a href="https://www.google.com/maps/place/Boerne,+TX+78006/@29.7887744,-98.7800578,13z/data=!3m1!4b1!4m5!3m4!1s0x865c76a1cbde3e75:0x1c91b7f64239262b!8m2!3d29.7946641!4d-98.7319703" class="nav-link"><i class="fa fa-map-marker me-3"></i>Boerne, Texas</a></li>
                </ul>

            </address>
        
        </div>
        <!-- End Contact Info-->
        <!-- Contact Form-->
        <div class="col-12 col-md-5">
            <form action="">
                <div class="mb-3">
                    <label for="userEmail" class="form-label">Email: </label>
                    <input type="email" name="email" id="userEmail" aria-descibedby="emailHelp" placeholder="enter email">
                    <div id="emailHelp" class="form-text">We'll never share your email address with anyone else</div>
                </div>
                <div class="mb-3">
                    <label for="userName" class="form-label">Name: </label>
                    <input type="text" name="name" id="userName" aria-descibedby="nameHelp" placeholder="enter name">
                    <div id="nameHelp">Please enter your name</div>
                </div>
                <div class="mb-3">
                    <textarea name="message" id="userMessage" class="form-text" cols="30" rows="10" placeholder="enter message" aria-describedby="messageHelp"></textarea>
                    <label for="userMessage" class="form-label d-none">Message:</label>                    
                    
                </div>
            </form>
        </div>
        <!-- End Contact Form-->
    </div>
</section>
<section class="container-fluid contact-us">
        <div class="row">

             <div class="col-lg-6 mx-auto col-md-7 col-12 py-5 mt-5 text-center" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="100">

               <h1 class="mb-4">Hey there, Let's <strong>talk</strong> about <strong>creative</strong> projects</h1>

               <p>or email us at <a href="mailto:thedifystore@gmail.com" class="nav-link w-25 mx-auto btn btn-dark text-white rounded-pill">thedifystore@gmail.com</a></p>
               
             </div>

             <div class="col-lg-8 mx-auto col-md-10 col-12" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="100">
             
             
              <script id="formScript" type="text/javascript" src="https://form.jotform.com/jsform/212914671235151"></script>
              <iframe title="DIFY Product Request" src="" allowtransparency="true" allow="geolocation; microphone; camera" allowfullscreen="true" name="212914671235151" id="212914671235151" style="width: 10px; min-width: 100%; display: block; overflow: hidden; border: medium none; height: 100%;" scrolling="no"></iframe>
               
                   
        
             </div>
            </div>

</section>
{{ partial "featured-products.html" .}}
{{ partial "testimonials.html" .}}
{{ partial "cta.html" .}}
{{ end }}
