{{ define "main" }}
<!-- Header -->
<header data-background="{{ .Site.BaseURL}}images/slider/hero-slider-1-1920x1080.jpg" class="services-header h-75 container lazyBG mt-2 py-2">
    <div class="row">
        <div class="col-12 col-xl-10 mx-auto text-center">
           <h1 class="fw-bolder">{{- .Title  -}}</h1>
        </div>
    </div>
</header>

<!-- End Header-->


<!-- Product Cards -->


<section class="card-wrapper py-3" data-aos="fade-up" data-aos-duration="1250" data-aos-delay="150">
    <div class="container">
        <div class="row">
            {{ range .Params.services}}
            <div class="col-12 col-md-4 my-2 mx-auto">
                <div class="card text-white card-has-bg click-col lazyBG"
                    data-background="{{ .image | absURL}}">
                    <img class="card-img d-none" src="{{ .image | absURL}}"
                        alt="{{ .name}}" loading="lazy" decoding="async">
                        <a href="{{ .url | absURL}}" class="text-decoration-none text-dark">
                    <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2 ">SERVICE</small>
                                <h4 class="card-title mt-0 "><a class="text-light" href="{{- .url | absURL -}}">{{- .name -}}</a></h4>
                                <p class="text-light">{{ .description }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="media text-center">
                                    <a href="{{ .url | absURL}}" class="cta-btn">{{ .name }}</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<!-- end product cards-->

{{ end }}