{{ define "main" }}
<header class="single-header container-fluid my-2" data-aos="fade-in" data-aos-duration="1250" data-aos-delay="100">
    <div class="row">
        <div class="col mx-auto text-center">
            <h1 class="">{{ .Title }}</h1>
        </div>
    </div>
</header>
<main class="main-content container-fluid">
    <div class="row">
        <div class="col-12 col-md-7 ms-auto">
            <article>
                {{ .Content }}
            </article>
        </div>
        <aside class="col-12 col-md-3 me-auto">
            <section class="breadcrumbs">
                <h3>Breadcrumbs</h3>
                {{- partial "breadcrumbs.html" . -}}
            </section>
            {{- partial "related.html" . -}}
            
        </aside>
    </div>
</main>
  
{{ partial "featured-products.html" .}}
{{ partial "testimonials.html" .}}
{{ partial "cta.html" .}}
{{ end }}