{{ define "main" }}

<!-- Header -->
<header data-background="{{ .Site.BaseURL}}images/slider/hero-slider-1-1920x1080.jpg" class="services-header h-75 container lazyBG mt-2 py-2">
    <div class="row">
        <div class="col-12 col-xl-10 mx-auto text-center">
           <h1 class="fw-bolder">{{- .Title  -}}</h1>
        </div>
    </div>
</header>

<!-- End Header-->

<!-- Article Begins-->
<article class="container article">
    <!-- intro -->
<section class="py-2">
    <div class="row">
        <div class="col-10 mx-auto">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In mollitia, voluptatibus reiciendis fugiat ipsum voluptas quod molestiae optio dicta repudiandae! Quibusdam recusandae aliquid sapiente, quae tenetur numquam explicabo quia minus!
                Assumenda, consequuntur! Odit ea sunt tempore, enim delectus itaque perspiciatis, cumque consequuntur, nam minima sit ab harum voluptas exercitationem! Asperiores necessitatibus dolorum dolor et iure eaque nemo odit consequuntur doloribus?
                Autem ipsa repellendus totam eaque minima facilis fugit placeat vero quos nulla asperiores eveniet delectus commodi corrupti, in voluptatum sunt architecto aliquid adipisci! Iusto voluptatibus temporibus, laboriosam obcaecati accusantium minima.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam et quo tempora corrupti cupiditate aut laudantium iusto voluptatibus rem! Optio, corrupti. Culpa mollitia dolorem corporis eligendi expedita! Rem, optio dolorem!
            Laborum officia molestias, consequatur voluptatum maxime qui enim quas. Impedit necessitatibus beatae voluptas, asperiores dolorem, consequuntur perferendis tenetur, obcaecati commodi dignissimos quia repellendus laborum culpa! Neque ad quis perferendis ipsum?
            Impedit quasi ullam inventore, officiis nulla suscipit reiciendis nesciunt, ab facilis iure quod possimus, voluptate repellendus vel at in dolor id repudiandae ex hic. Tempora soluta amet quos repudiandae nemo.</p>
        </div>
    </div>
</section>
<!-- end intro -->

<!-- Section One -->
<section class="py-2">
    <div class="row">
        <div class="col-10 mx-auto">
            <h2>Lorem ipsum dolor sit.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit similique voluptatibus asperiores nihil labore in libero doloribus quo reprehenderit vitae totam neque repudiandae error iure suscipit pariatur, illo necessitatibus qui?
            Aut similique reiciendis beatae asperiores neque ipsum, adipisci ex magnam? Dicta animi, laborum, architecto asperiores qui omnis cum aspernatur a quasi sunt ducimus hic fugit facilis, optio cumque placeat exercitationem?
            Quidem obcaecati qui quam, eius accusamus necessitatibus nemo numquam, inventore amet odio, asperiores molestiae est placeat ab eaque maxime quos accusantium adipisci! Enim, sit? Libero omnis facere dolorum perferendis qui.
        </div>
    </div>
</section>

<!-- End Section One-->

<!-- Mini Card Section -->

<section class="mx-auto mb-2">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-3 mx-auto mb-3">
            <div class="card" style="min-height: initial;">
                <div class="card-header text-center">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-4 card-number rounded-circle bg-dark"><span>1</span></div>
                        <div class="col-8"><h2 class="fs-4 text-start">Your Pictures</h2></div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Whether you're looking for a personalized mug for your favorite coffee drinker or a set of personalized wine glasses for your wine-loving friends, our custom drinkware is the perfect gift!</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mx-auto mb-3">
            <div class="card" style="min-height: initial;">
                <div class="card-header text-center">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-4 card-number rounded-circle bg-dark"><span>2</span></div>
                        <div class="col-8"><h2 class="fs-4 text-start">Our Designers</h2></div>
                    </div>
                </div>
                <div class="card-body">
                    <p>Tumblers and t-shirts are a great way to promote your company and show off your logo. Whether you're looking for a promotional tumbler or a t-shirt to wear to an event, our designers have you covered.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mx-auto mb-3">
            <div class="card" style="min-height: initial;">
                <div class="card-header text-center">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-4 card-number rounded-circle bg-dark"><span>3</span></div>
                        <div class="col-8"><h2 class="fs-4 text-start">Delivered To Your Door</h2></div>
                    </div>
                </div>
                <div class="card-body">
                    <p>The perfect gift for all occasions. We can deliver your customized gift right to your door just upload your graphic and get started. Koozies, swag, jewelery, T-shirts, we can customize anything!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-10 mx-auto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, deserunt! Voluptates voluptate non tenetur commodi cupiditate fugiat nobis maiores, blanditiis odio excepturi deserunt voluptas aliquid corporis aliquam ad quasi quaerat.
            Ducimus optio atque eos in dolore explicabo veniam, quod, a cumque error quo perspiciatis aliquid odio voluptas ipsa saepe, placeat reprehenderit beatae praesentium incidunt enim. A corrupti exercitationem laboriosam delectus?</p>
        </div>
    </div>

</section>

<!-- End Mini Cards -->


<!-- Section Two -->

<section class="mx-auto service two">
    <div class="row">
        <div class="col-10 mx-auto">
            <h3>Lorem, ipsum dolor.</h3>
        </div>
    </div>
    <div class="row">
        <figure class="col-12 text-center">
            <img src="{{ .Site.BaseURL}}images/slider/hero-slider-3-1920x1080.jpg" alt="article image" class="img-fluid" loading="lazy" decoding="async" height="540" width="960">
        </figure>
    </div>
    <div class="row">
        <div class="col-10 mx-auto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat tenetur libero nihil itaque. Eligendi harum neque, sequi ullam repellat accusamus vel ab optio. In, eligendi enim nihil obcaecati non quos.
                Culpa dignissimos nisi ab deleniti ipsam quam eligendi cupiditate ea sunt? Provident saepe veniam tempore hic totam suscipit assumenda consectetur dolor corrupti sed fugit, officiis sit ut illum cum omnis.
                Quisquam quos labore ipsum iusto commodi! Perferendis soluta non, voluptas tempora optio expedita porro molestias, minus consequuntur eveniet sed saepe numquam recusandae sint? Autem vero officia repudiandae aspernatur a ipsa.</p>
        
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet illo sunt iure in expedita? Amet possimus animi quae debitis perferendis iusto deserunt quas molestiae minima, veniam voluptatum praesentium inventore corporis!
                Iusto tempore earum cumque, modi repudiandae et fuga voluptatum! Sint, velit rerum. Hic voluptas molestiae natus, repudiandae, libero aliquid quidem illo dignissimos, totam at deserunt. Voluptas minus placeat corrupti nobis?
                Quam eligendi facere harum est commodi asperiores perferendis in? Nesciunt veniam eaque labore eos modi est, consectetur accusamus culpa tempore qui enim repudiandae, a, odit exercitationem voluptate? Mollitia, dignissimos magnam.</p>
        </div>
    </div>
</section>

<!-- Content Box -->

<section class="content box mx-auto mb-2">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto bg-light p-4">
            <h3>Additional Readings</h3>
            <p>Check out our awesome article and learn all about our amazing services!  We take pride in helping our customers get the best services and products.  Find out more today. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, at.</p>
            <a href="#" class="btn btn-secondary">Learn More</a>
        </div>
    </div>
</section>

<!-- End Content Box-->

<!-- End Section Two-->

<!-- Section Three-->

<section class="mx-auto service 3">
    <div class="container-fluid mx-auto">
        <div class="row">
            <div class="col-10 mx-auto">
                <h3>Final Thoughts</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, consequuntur error beatae unde sequi ea hic veniam totam eum ut illo debitis in nihil molestias voluptatibus sed ex cum optio?
                Ea provident repudiandae esse maiores expedita aut eaque? Earum alias tempore deserunt voluptates non, accusantium ut, blanditiis quam fuga soluta odit delectus nostrum eum, repellendus ducimus aliquam ipsa! Commodi, nihil!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius repellat beatae porro! Quidem unde voluptates recusandae doloremque aut rerum, quisquam placeat laborum libero. Cum nihil reiciendis cumque minima sapiente? Accusantium?
                Dolorem ullam laboriosam consequatur temporibus eos nobis deleniti eligendi deserunt, exercitationem adipisci atque hic, aliquid quaerat commodi esse. Repellendus, ipsum quis aliquam quisquam sunt ut alias nihil expedita repellat. Praesentium?</p>
            </div>
        </div>

    </div>
</section>

<!-- End Section Three -->

<!-- Page Nav -->
<section class="content box mx-auto mb-2">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-3 float-right pe-2 text-center">
        {{with .Site.RegularPages.Prev . }}
        <a href="{{.RelPermalink}}" class="btn ">👈 {{ .Title }}</a>
        {{ end }}
    </div>
    <div class="col-3 float-left ps-2 text-center">
        {{with .Site.RegularPages.Next . }}
        <a href="{{.RelPermalink}}" class="btn "> 👉 {{ .Title }}</a>
        {{ end }}
    </div>
</div>
</section>
<!-- end page nav-->

</article>

<!-- Article Ends-->

<!-- Article-->

{{ end }}