{{ define "main" }}

<!-- Header -->
<header data-background="{{ .Site.BaseURL}}images/slider/hero-slider-1-1920x1080.jpg" class="services-header h-75 container lazyBG mt-2 mx-auto py-2" data-aos="fade-in" data-aos-duration="1250" data-aos-delay="0">
    <div class="row">
        <div class="col-12 col-xl-10 mx-auto text-center">
           <h1 class="fw-bolder" data-aos="fade-in" data-aos-duration="1250" data-aos-delay="150">{{- .Title  -}}</h1>
        </div>
    </div>
</header>

<!-- End Header-->

<section class="container-md mx-auto" data-aos="fade-in" data-aos-duration="1250" data-aos-delay="250">
    <div class="row">
        <div class="row p-3">
            <div class="col text-center mx-auto">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            <main class="main-content container-fluid mx-auto">
                <div class="row mb-3">
                    <div class="col text-center mx-auto">
                        {{ if .Params.image }}
                        <img src="{{- .Params.image | absURL -}}" class="img-fluid" alt="{{- .Title -}}" loading="lazy" decoding="async" height="450" width="auto" data-aos="fade-in" data-aos-duration="1250" data-aos-delay="150">
                        {{ end}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ .Content }}
                    </div>
                </div>
            </main>

            <!-- Page Nav -->
            <section class="content box mx-auto mb-2">
                <div class="row justify-content-center align-items-center text-center">
                    <div class="col-3 float-right pe-2 text-center">
                    {{with .Site.RegularPages.Prev . }}
                    <a href="{{.RelPermalink}}" class="btn">👈 {{ .Title }}</a>
                    {{ end }}
                </div>
                <div class="col-3 float-left ps-2 text-center">
                    {{with .Site.RegularPages.Next . }}
                    <a href="{{.RelPermalink}}" class="btn">👉 {{ .Title }}</a>
                    {{ end }}
                </div>
            </div>
            </section>
            <!-- end page nav-->
        </div>
        <div class="col-12 col-lg-4 me-auto">
            {{ partial "aside.html" . }}
        </div>
    </div>

</section>



{{ end }}

