section.cta {
    background: rgba(255,255,255, 0.9);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    
    .wrapper {
        display: grid;
        place-items: center;
        min-height: 100%;
        position: relative;
        img.cta {
            left: 50%;
            max-width: 100%;
            height: 100% !important;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: -1;
        }
    }

}