.featured-products {
    h3 {
        font-family: 'Dancing Script', cursive;
        font-size: 3.5rem;
        font-weight: 700;
    }

    p {
        margin: auto;
        max-width: 100ch;
        text-align: left;
    }
}