/************************
**Custom Swiper Styles*** 
*************************/


.hero-slide {
    background: none;
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
}

.hero-container {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(255,130,130,0.49761911600577735) 100%, rgba(255,0,0,1) 100%);
    h1 {
        font-size: 4.75rem;
        font-weight: 700;
    }

    h2 {
        font-size: 4.25rem;
        font-weight: 600;
    }
}
.swiper-slider {
    margin: 0 auto;
    width: 100% !important;
}