.stars {
    color: rgba(226, 115, 150, 1.0) !important;

}

section.testimonials {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 !important;
    padding-top: 1rem;
    h3 {
        font-family: "Dancing Script", cursive;
        font-size: 3.5rem;
        font-weight: 700;
        text-decoration: wavy;
    }

    .testimonials__name {
            margin: 0px;
            padding: 0px;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            font-weight: 600;
            box-sizing: inherit;
            color: rgb(54, 54, 54);
            line-height: 1.125;
            margin-bottom: 0.8em;
        
    }
    .wrapper {
        height: 100% !important;
        margin: 0;
        padding: 0;
        .splatter {
            display: none;
            left: 50%;
            max-width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: -1;
        }
    }
}